/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*  -------------- General Style ------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
html,
body {
  height: 100%;
  width: 100%;
  /* margin: 0; */
}

body {
  font-size: 1rem;
  font-family: "Heebo", sans-serif;
  min-width: 360px;
  height: fit-content;
  border: 12px solid #fff;
}

.ctnr {
  width: 100%;
  padding: 0 1.25em;
  display: flex;
}
.btn {
  margin: 1em;
}

/* ============================
Colour Palette

#FF9F1C - BRIGHT YELLOW (CRAYOLA)
#FFBF69 - TOPAZ
#FFFFFF - WHITE
#CBF3F0 - AERO BLUE
#2EC4B6 - MAXIMUM BLUE GREEN

================================ */

/* ===============================
TYPOGRAPHY ====================== */
/* heading: Proza Libre
body: Open Sans*/

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 2em;
  margin: 0.6em 0 0.6em 0;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0.6em;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 0.6em;
}
li,
a {
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.crossed-out {
  text-decoration: line-through;
  color: #f97443;
}

/* ===============================
============ LAYOUT ==============
=============================== */
/* 
.top-logo img {
  height: 2em;
  width: 2em;
  border-radius: 50%;
} */
.about-logo img {
  height: 7em;
  border-radius: 50%;
}
.hero img {
  /* padding-top: ; */
  height: 10em;
  border-radius: 50%;
}

.top-triangle-lab {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  border-image-slice: 100%;
  border-image-width: 0;
  border-image-repeat: stretch;
  border-bottom-width: 1;
  border-top: 0 transparent;
  border-style: solid;

  border-width: 60px 0 0 96vw;
  border-color: #cbf3f0 transparent transparent transparent;
  box-sizing: border-box;
}
.top-triangle-contact {
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3.75em 93vw 0 0;
  border-color: #2ec4b6 transparent transparent transparent;
  align-items: center;
}
/* .breaker {
} */

/* ----- header ----- */

.top-logo {
  margin: 0;
  /* border-radius: 50%; */
  cursor: pointer;
  margin-right: auto;
}
.top-logo a {
  font-family: "Playfair Display", serif;
  font-weight: bolder;
}

/* ----- Navigation ----- */
/* --- Nav --- */
.nav-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.ctnr-top {
  width: 100%;
  margin: 0;
  height: 100px;
  background-color: #ff9f1c;
  display: flex;
  /* justify-content: left; */
  align-items: center;
  /* text-align: left; */
}

/* .nav-list {
  display: flex;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
} */

.nav-list li {
  margin: 0 0 0 1.5em;
  padding: 0;
}
nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}
nav a {
  font-family: "Playfair Display", serif;
  font-weight: bolder;
}

.nav-links li a:hover {
  color: #f97443;
}
/* --- Social Top --- TO VERIFY before deployment ---*/
/* .top-social {
  -webkit-box-flex: 0;
  flex: 0 0 150px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 150px;
  padding-top: 2px;
  text-align: right;
} */

/* ----- Hero ----- */
.ctnr-hero {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 50vh;
  width: 100%;
}

.ctnr-hero p {
  margin-bottom: 1em;
  text-align: center;
}

.hero {
  margin-top: 2.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

/* ----- About ----- */
.about {
  background-color: #cbf3f0;
}
/* .about-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* figure {
  padding: 2em 0;
} */
.ctnr-about {
  display: flex;
  justify-content: center;
  width: 100%;
}
.about-text {
  margin: 2em 0;
  /* line-height: 1.5; */
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.connect ul {
  text-align: center;
  list-style: none;
  padding: 1.5em 0;
}
.connect a {
  font-size: large;
  border: 1px solid #000;
  padding: 10px 15px;
  border-radius: 5px;
}

/* ---- Revisit Button clour ???? --- */
.connect a:hover {
  color: red;
}

/* ----- Lab ----- */
.lab {
  background-color: #2ec4b6;
}

.ctnr-lab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.ctnr-lab article {
  text-align: center;
  margin: 1em 0 0;
}

/* ----- Contact ----- */
.contact {
  background-color: #ff9f1c;
}
.ctnr-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.ctnr-contact article {
  text-align: center;
  margin: 1em 0 0;
}

/* ----- Footer ----- */
footer {
  background-color: bisque;
  border-top: 12px solid #fff;
}
.ctnr-footer {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}
/* .footer-list {
  display: flex;
} */
.footer-list ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 1em; */
}
.footer-list a {
  cursor: pointer;
  /* margin-top: 2em; */
}
.copyright {
  text-align: center;
  font-size: 0.7em;
  margin-top: 2em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* @media (max-width: 520px) {
  .top-name {
    display: none;
  }
} */
/* @media (max-width: 1080px) {
  .top-social {
    display: none;
  }
  .nav-list {
    text-align: right;
  }
} */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
